# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
yarn.lock

# testing
/coverage

# production
/build

/dist
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/favicon.ico
dist/index.html
dist/logo192.png
dist/logo512.png
dist/manifest.json
dist/robots.txt
dist/assets/arror-back-left-b650f917.svg
dist/assets/arror-right-ed7d2a06.svg
dist/assets/arror-right-white-5390acbd.svg
dist/assets/bar-chart-dfcd3431.svg
dist/assets/bin-1d1a9159.svg
dist/assets/box-a420d1a7.svg
dist/assets/brand-01-6abcf8b0.svg
dist/assets/brand-02-5864b168.svg
dist/assets/brand-03-dbdc424f.svg
dist/assets/brand-04-b21bfd7d.svg
dist/assets/brand-05-b9cc0cba.svg
dist/assets/briefcase-c01d8b47.svg
dist/assets/caret-down-1ebe2189.svg
dist/assets/caret-up-bb66ee6d.svg
dist/assets/check-34a5d0b1.svg
dist/assets/clipboard-0f5b11ff.svg
dist/assets/close-964bbac4.svg
dist/assets/copy-1a2a6281.svg
dist/assets/cover-01-e8bbef04.png
dist/assets/credit-card-43463175.svg
dist/assets/dental-call-d9ad3839.jpeg
dist/assets/dental-chain-4b4a47f5.jpeg
dist/assets/dental-sms-48192ed3.jpeg
dist/assets/dental-web-332702e6.jpeg
dist/assets/down-arrow-c6200212.svg
dist/assets/dry-clean-60c8ea29.svg
dist/assets/edit-fe2185a2.svg
dist/assets/empty-box-262f0fda.png
dist/assets/export-efa3a50f.svg
dist/assets/fa-brands-400-20c4a58b.ttf
dist/assets/fa-brands-400-74833209.woff2
dist/assets/fa-regular-400-528d022d.ttf
dist/assets/fa-regular-400-8e7e5ea1.woff2
dist/assets/fa-solid-900-67a65763.ttf
dist/assets/fa-solid-900-7152a693.woff2
dist/assets/fa-v4compatibility-0515a423.ttf
dist/assets/fa-v4compatibility-694a17c3.woff2
dist/assets/filter-ccb288d0.svg
dist/assets/index-73737dc4.js
dist/assets/index-7935dc2b.js
dist/assets/index-aab1ed04.css
dist/assets/index-d9c5ed97.css
dist/assets/info-415343b1.png
dist/assets/info-sms-6e6de218.png
dist/assets/left-arrow-e2d633f9.svg
dist/assets/list-3b9c27cb.svg
dist/assets/logo-6d593be9.svg
dist/assets/logo-dark-2504a794.svg
dist/assets/logo-f5adcf7e.jpg
dist/assets/logo-icon-cc979474.svg
dist/assets/logo-tw-6f58c3e9.jpg
dist/assets/logo-tw-c7bb3a60.svg
dist/assets/minus-ca3343b8.svg
dist/assets/permissions-05b9c9c0.svg
dist/assets/personnel-af20ac47.svg
dist/assets/photo-upload-969266f6.svg
dist/assets/plus-47a874f8.svg
dist/assets/plus-7a623bd7.png
dist/assets/plus-square-5a8d389a.svg
dist/assets/printer-d311bc61.svg
dist/assets/product-01-c483c307.png
dist/assets/product-02-7399ae73.png
dist/assets/product-03-16b7c2c9.png
dist/assets/product-04-89ad00c9.png
dist/assets/right-arrow-4541477e.svg
dist/assets/right-arrow-ic-2a7b5281.svg
dist/assets/right-arrow-white-9c964664.svg
dist/assets/save-d382bae5.svg
dist/assets/search-604ef61b.svg
dist/assets/setting-e1c7a76d.svg
dist/assets/settings-91b1fd26.png
dist/assets/sort-756ff5a8.svg
dist/assets/three-lines-1152d76b.svg
dist/assets/tick-f73dee77.svg
dist/assets/tooltip-63560fa6.svg
dist/assets/tooth-d84a9584.svg
dist/assets/user-01-b007ff3f.png
dist/assets/user-02-5a304001.png
dist/assets/user-03-3c4ef32c.png
dist/assets/user-04-04f11146.png
dist/assets/user-05-d5425ed5.png
dist/assets/user-06-00406fb8.png
dist/assets/user-a01522f3.svg
